.product{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 20px;
  width: 100%;
  min-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index:1;
  transition: transform 450ms;
}

.product > img{
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product:hover{
  transform: scale(1.03);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.product > button{
  background-color: #F1C65B;
  height:30px;
  border:2px solid;
  border-radius: 3px;
  margin-top:10px;
  border-color: #a88734 #9c7e31 #846a29;
  color:#111;
  cursor: pointer;
}

.product-price{
  margin:8px 0px;
}

.product-info{
  height: 80px;
  margin-bottom:15px;
}

.product-rating{
  margin:20px 0px;
}
